.container {
  text-align: center;
  border: 8px solid rgb(238, 231, 231);
  width: 30%;
  position: relative;
  background-color: antiquewhite;
}

.images {
  background-color: black;
  width: 100%;
}
.divBoton {
  background-color: rgb(160, 154, 160);
  display: flex;
  float: right;
  margin: 10px;
  color: rgb(139, 86, 86);
  border-radius: 6px;
}
